body {
    background-color: #050505;
    color: #d4af37;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    text-align: center;
}
.gold-btn, .buy-btn {
    background: linear-gradient(45deg, #d4af37, #f9e29c);
    color: #000;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}
.presale-box {
    border: 2px solid #d4af37;
    padding: 30px;
    display: inline-block;
    margin-top: 50px;
    background: #111;
}
input {
    padding: 10px;
    background: #222;
    border: 1px solid #d4af37;
    color: gold;
    margin-bottom: 10px;
}
